body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main-heading {
  font-weight: 700;
  font-size: 21px;
  color: hsl(218, 44%, 22%);
  line-height: 22px;
}

.body-text {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  line-height: 18px;
}
.main-heading,
.body-text {
  text-align: center;
  width: 80%;
  margin: 10px 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 310px;
  padding-bottom: 30px;
}

.qr-code {
  width: calc(100% - 30px);
  border-radius: 5%;
  margin: 15px;
}
